

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* editemos todo */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --bg:#f5f5f5; /* backbround p fondo de la pagina*/
  -o-text:#00ff44;
  --sidebar-w: 220px; /* ancho del menu*/
  --sidebar-icons: 64px; /*solo muestra el icono de la tablet*/
  --sidebar-bg:#FFFFFF; /*color del fondo el sidebar*/
  --muted: #999; /*Texto-Secundario*/
  --sidebar-line: rgba(0,0,0,0.15);
body{
 font-family: poppins;
 background-color: var(--bg); /*color de fondo*/
 color-var(--text)/*color de texto*/
}
}
{
    
/*editamos el sidebar*/
.topbar{
    display: fex;
    aligin-items: center;
    justify-content: space-between; /*separacion de esquina a esquina*/
    padding: 0 20px;
    height: 56px;
    background-color: var(--sidebar-bg);
    border-bottom: 1px solid var(--sidebar-line);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}
}

.torbar .title business{
      font-size: 1rem; /*16px*/
    font-weight: 600;
    color: var(--text) 
}
.hamburger{
    background: none;
    border: none;
    cursor: pointer;
}

.overlay{
    display: none;
    position: fixed;
    inset:0;/*Top,buttom,right,left*/
    background-color: rgba(0,0,0,0.3);
    z-index: 150;
}
/* esto funcionara a la hora de programar en 35*/
.overlay.show{
    display: block;
}
/*SIDE-BAR .VENTANA IZQUIERDA*/
.sidebar{
    position:fixed;
    top: 0;
    left: -100%;
    width: var(--sidebar-w);/*ancho 220px*/
    height : 100vh;
    background-color: var(--sidebar-bg);
    border: 1px solid var(--sidebar-line);
    display: flex;
    flex-direction: column; 
    z-index: 160;
    transition: left 0.25s ease; /*Animation*/
    padding: 24px 0;
}